.latest-news-wrapper{
  padding: 12px;
  overflow: hidden;
}
#main-slider-container {
  width: 100%; /* Enable horizontal scrolling */
}

.slider-card {
  box-shadow: none;
}
.slider-card-title {
  overflow: hidden;
  text-wrap: wrap;
  padding: 14px 8px;
  margin: 0;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 28px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider-icon.left {
  left: 17px;
  top: 96px;
}
.slider-icon.right {
  right: 17px;
  top: 96px;
}

.slider-card-description {
  text-wrap: wrap;
}

.slider-card-description {
  display:none;
}
.slider-card-image {
  border-radius: 12px;
}