.banner-slider-container {
  padding: 16px;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-media {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.carousel-content {
  padding: 16px;
}

@media (min-width: 600px) {
  .carousel-card {
    flex-direction: row;
  }

  .carousel-media {
    height: 200px;
  }

  .carousel-content {
    padding: 24px;
  }
}
